h1 {
     color: white;
     border-style: double;
     border-width: 2px;
     border-color: black;
     font-weight: lighter;
     font-size: 40px;
     font-family: Crete, Round;
}
h2 {
     color: white;
     border-style: double;
     border-width: 2px;
     border-color: black;
     font-style: oblique;
}
body {
    background-color:lightgrey;
}
h3 {
     color: red;
     border-style: double;
     border-width: 2px;
     border-color: black;
     font-style: oblique;
 }
 h4 {
   color: teal;
 }
 img {
     border-style:dashed;
     border-width:thin;
     border-color: white;
 }
p   {
     color: forestgreen;
}
header {
  padding-top: 20px;
}
nav {
  font-style: italic;
  font-weight: bold;;
  font-weight: lighter;
}
ul {
  font-family: fantasy;
  color: teal;
}
li {
  font-weight: bolder;
}
a {
  color: white;
}

.fa-android {
  color: green;
}

.fa-angrycreative {
  color:red;
}

.container {
  transform:
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 420px;
  background-color: black;
}

li {
   display: inline-block;
}

li a {
  text-decoration: none;
  color: #fff;
  font-weight: lighter;
  font-size: 25px;
  transition-duration: 350ms;
  transition-property: links
}

